In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import roc_auc_score



dict_gaji={'<=7jt':0,'>7jt':1}
dict_pendidikan={'1st-4th':0,'5th-6th':1,'7th-8th':2,'9th':3,'10th':4,'11th':5,'12th':6,'SD':7,'SMA':8,'Sekolah Professional':9,'D3':10,'D4':11,'Sarjana':12,'Master':13,'Doktor':14,'Pendidikan Tinggi':15}
dict_pekerjaan={'Tidak Diketahui':0,'Petani':0,'Supir':0,'Pembersih':0,'Penjaga':0,'Asisten Rumah Tangga':0,'Servis Lainnya':0,'Mesin Inspeksi':1,'Pemuka Agama':1,'Perbaikan Kerajinan':1,'Sales':1,'Tentara':1,'Ekesekutif Managerial':2,'Spesialis':2,'Tech-support':2}
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')


df_train=df_train.replace('?',np.nan)
df_test=df_test.replace('?',np.nan)
# df_train=df_train.dropna(axis=1)
# df_test=df_test.dropna(axis=1)
df_train=pd.get_dummies(df_train, columns=['Kelas Pekerja','Pekerjaan','Status Perkawinan','Jenis Kelamin'])
df_test=pd.get_dummies(df_test, columns=['Kelas Pekerja','Pekerjaan','Status Perkawinan','Jenis Kelamin'])
# df_train=df_train.drop(['Status Perkawinan','Jenis Kelamin'],axis=1)
# df_test=df_test.drop(['Status Perkawinan','Jenis Kelamin'],axis=1)
# df_train['Pekerjaan']=df_train['Pekerjaan'].replace(dict_pekerjaan)
# df_test['Pekerjaan']=df_test['Pekerjaan'].replace(dict_pekerjaan)
df_train['Pendidikan']=df_train['Pendidikan'].replace(dict_pendidikan)
df_test['Pendidikan']=df_test['Pendidikan'].replace(dict_pendidikan)
df_train['Gaji']=df_train['Gaji'].replace(dict_gaji)
df_train=df_train.set_index('id')
df_test=df_test.set_index('id')
X_train=df_train.drop('Gaji',axis=1)
y_train=df_train['Gaji']
X_test=df_test

# stdscaler=StandardScaler()
# datascale=stdscaler.fit_transform(X_train)
# dfscale_train=pd.DataFrame(datascale, columns=X_train.columns.array)

# dfscale_train.head()
# X_train=X_train.replace(dfscale_train)
# X_train.describe()
# dfscale_train.describe()

# model_1 = KNeighborsClassifier()
# param_grid={'n_neighbors':np.arange(10,60), 'weights':['uniform','distance']}
# rscv=RandomizedSearchCV(model_1, param_grid, n_iter=20, scoring='roc_auc', cv=5)
# rscv.fit(X_train,y_train)
# # # y_predict_train=rscv.predict(X_train)
# y_predict_test=rscv.predict(X_test)
# df_predict=pd.DataFrame(y_predict_test)
# df_predict.columns=['Gaji']
# # # print('hyperparameter terbaik model DT :',rscv.best_params_)
# print('score validasi terbaik model DT :',rscv.best_score_)
# print('nilai probabilitas pasien phositive meninggal dalam waktu kurang dari 5 tahun :')
# display(rscv.predict_proba(X_test)[:,1])
# valid_score=roc_auc_score(y_test,y_predict_test)
# train_score=roc_auc_score(y_train,y_predict_train)
# print('score data test :',valid_score)
# print('score data training :',train_score)

# model_2 = DecisionTreeClassifier()
# param_grid_2={'criterion':['gini','entropy'],'splitter':['best','random'],'max_depth':np.arange(2,12),'max_features':['auto','sqrt','log2'],'min_samples_split':np.arange(2,7),'min_samples_leaf':np.arange(1,6),'min_weight_fraction_leaf':np.arange(0,0.5),'random_state':np.arange(0,1)}
# rscv_2=RandomizedSearchCV(model_2, param_grid_2, n_iter=20, scoring='roc_auc', cv=5)
# rscv_2.fit(X_train,y_train)
# # # y_predict_train_2=rscv.predict(X_train)
# y_predict_test=rscv_2.predict(X_test)
# df_predict=pd.DataFrame(y_predict_test)
# df_predict.columns=['Gaji']
# print('hyperparameter terbaik model DT :',rscv.best_params_)
# print('score validasi terbaik model DT :',rscv_2.best_score_)

# model_3 = LogisticRegression()
# param_grid_3={'penalty':['l1','l2', 'elasticnet', 'none'],'dual':[True,False],'fit_intercept':[True, False]}
# rscv_3=RandomizedSearchCV(model_3, param_grid_3, n_iter=16, scoring='roc_auc', cv=5)
# rscv_3.fit(X_train,y_train)
# print('score validasi terbaik model DT :',rscv_3.best_score_)

# model_4 = RandomForestClassifier()
# param_grid_4={'criterion':['gini','entropy'],'n_estimators':np.arange(90,100),'max_depth':np.arange(2,12)}
# rscv_4=RandomizedSearchCV(model_4, param_grid_4, n_iter=20, scoring='roc_auc', cv=5)
# rscv_4.fit(X_train,y_train)
# y_predict_train_2=rscv.predict(X_train)
# y_predict_test_2=rscv_4.predict(X_test)
# df_predict['Gaji']=pd.DataFrame(y_predict_test_2)
# print('hyperparameter terbaik model DT :',rscv.best_params_)
# print('score validasi terbaik model DT :',rscv_4.best_score_)

# model_6 = DecisionTreeRegressor()
# param_grid_6={'criterion':['mse','friedman_mse', 'mae'],'splitter':['best','random'],'max_depth':np.arange(2,12),'max_features':['auto','sqrt','log2'],'min_samples_split':np.arange(2,7),'min_samples_leaf':np.arange(1,6),'min_weight_fraction_leaf':np.arange(0,0.5),'random_state':np.arange(0,1)}
# rscv_6=RandomizedSearchCV(model_6, param_grid_6, n_iter=20, scoring='roc_auc', cv=5)
# rscv_6.fit(X_train,y_train)
# y_predict_test=rscv_6.predict(X_test).astype(int)
# df_predict=pd.DataFrame(y_predict_test)
# df_predict.columns=['Gaji']
# print('score validasi terbaik model DT :',rscv_6.best_score_)

# df_id=pd.DataFrame(df_test.index)
# list_df=[df_id,df_predict]
# df_export_11=pd.concat(list_df, axis=1)

# df_export_11.to_csv (r'D:\Python Project\FINAL PROJECT\submission_11.csv', index = False, header=True)

# model_5 = Perceptron()
# param_grid_5={'penalty':['l1','l2','elasticnet'],'fit_intercept':[True, False]}
# rscv_5=RandomizedSearchCV(model_5, param_grid_5, n_iter=6, scoring='roc_auc', cv=5)
# rscv_5.fit(X_train,y_train)
# # y_predict_train_2=rscv.predict(X_train)
# # y_predict_test_2=rscv.predict(X_test)
# # print('hyperparameter terbaik model DT :',rscv.best_params_)
# print('score validasi terbaik model DT :',rscv_5.best_score_)

# df_test.head()
# df['Pekerjaan'].describe(include=['category'])
# df_train.groupby(['Jam per Minggu'])[['Jmlh Tahun Pendidikan']].mean()
# df_train.groupby(['Pendidikan'])[['Jam per Minggu']].mean()
# df.info()
# df['Gaji'].values
# for i in array:
#     if i == '<7jt':
#         print('YESS')
# else : print('NO')

,Umur,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,...,Pekerjaan_Tech-support,Pekerjaan_Tentara,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,Status Perkawinan_Janda,Status Perkawinan_Menikah,Status Perkawinan_Menikah LDR,Jenis Kelamin_Laki2,Jenis Kelamin_Perempuan
count,35994.000000,3.599400e+04,35994.000000,35994.000000,3.599400e+04,3.599400e+04,35994.000000,35994.000000,3.599400e+04,3.599400e+04,...,35994.000000,3.599400e+04,35994.000000,35994.000000,3.599400e+04,3.599400e+04,35994.000000,35994.0000,3.599400e+04,3.599400e+04
mean,0.011707,1.887384e+05,-0.155117,-0.066036,1.503923e+07,1.217973e+06,-0.117859,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,0.726690,-0.180279,7.896235e-18,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00
std,1.056418,1.077477e+05,1.395527,0.841689,1.029919e+08,5.631544e+06,0.420599,0.000000,5.551192e-17,5.551192e-17,...,0.000000,3.469495e-18,1.000014,0.000000,1.000014e+00,5.551192e-17,0.000000,0.0000,4.440954e-16,4.440954e-16
min,-1.584121,-1.595798e+00,-2.752143,-3.138087,-1.460255e-01,-2.162800e-01,-2.784394,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,-0.700619,-0.180279,-3.949532e-01,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00
25%,-0.999158,1.177670e+05,-0.595181,-0.419405,-1.460255e-01,-2.162800e-01,-0.035226,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,-0.700619,-0.180279,-3.949532e-01,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00
50%,-0.194833,1.784665e+05,-0.055941,-0.419405,-1.460255e-01,-2.162800e-01,-0.035226,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,1.427309,-0.180279,-3.949532e-01,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00
75%,0.536371,2.379185e+05,1.292161,0.745744,-1.460255e-01,-2.162800e-01,-0.035226,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,1.427309,-0.180279,-3.949532e-01,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00
max,3.095584,1.490400e+06,1.292161,1.522511,1.399986e+09,6.098400e+07,2.552226,-0.294131,-1.914777e-01,-2.600532e-01,...,-0.172662,-1.748428e-02,1.427309,-0.180279,2.531945e+00,-1.777997e-01,-0.923049,-0.1176,-1.422922e+00,1.422922e+00

In [6]:
 df_train.groupby(['Kelas Pekerja'])[['Jam per Minggu']].mean()

KeyError: 'Kelas Pekerja'

In [4]:
df_train.tail(10)

,Umur,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,...,Pekerjaan_Tech-support,Pekerjaan_Tentara,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,Status Perkawinan_Janda,Status Perkawinan_Menikah,Status Perkawinan_Menikah LDR,Jenis Kelamin_Laki2,Jenis Kelamin_Perempuan
id,,,,,,,,,,,,,,,,,,,,,
35984,47,248776,13,14,0.0,0.0,25.0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
35985,27,103524,8,9,0.0,0.0,35.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
35986,23,182812,15,10,0.0,0.0,40.0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
35987,21,93977,8,9,0.0,0.0,40.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
35988,21,186648,15,10,0.0,0.0,20.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
35989,47,148169,8,9,0.0,0.0,40.0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
35990,69,264722,10,12,0.0,0.0,40.0,1,0,1,...,0,0,0,0,0,0,1,0,1,0
35991,24,31606,12,13,0.0,0.0,20.0,1,1,0,...,0,0,0,0,0,0,1,0,0,1
35992,47,197836,8,9,0.0,0.0,45.0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
35993,45,243743,12,13,0.0,0.0,60.0,1,0,0,...,0,0,0,0,0,0,1,0,1,0

In [3]:
import pandas as pd
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')
df_test

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu
0,35994,30,Pemerintah Lokal,99761,D4,11,Cerai,Pemuka Agama,Perempuan,0.0,0.0,40.0
1,35995,28,Wiraswasta,202206,SMA,9,Menikah,Mesin Inspeksi,Laki2,0.0,0.0,50.0
2,35996,34,Pemerintah Provinsi,199934,Pendidikan Tinggi,10,Menikah,Pemuka Agama,Laki2,0.0,0.0,40.0
3,35997,51,Wiraswasta,373448,Pendidikan Tinggi,10,Menikah,Ekesekutif Managerial,Laki2,0.0,28028000.0,40.0
4,35998,20,?,144685,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Perempuan,0.0,22428000.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9594,45588,58,Pemerintah Negara,159021,9th,5,Menikah,Petani,Laki2,0.0,0.0,40.0
9595,45589,45,Pekerja Bebas Bukan Perusahan,144086,11th,7,Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,50.0
9596,45590,20,Wiraswasta,238685,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,32.0
9597,45591,41,Pemerintah Lokal,249039,SMA,9,Berpisah,Pemuka Agama,Perempuan,0.0,0.0,40.0
9598,45592,34,Pekerja Bebas Bukan Perusahan,24961,SMA,9,Menikah,Petani,Laki2,0.0,0.0,80.0